<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="ECS-Console" target="SYSTEM_OUT">
            <EcsLayout serviceName="demo" serviceNodeName="${env:HOSTNAME}"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="debug"> <AppenderRef ref="ECS-Console"/> </Root>
  </Loggers>
</Configuration>
